*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    transition: ease 0.5s;
    color: rgba(0, 150, 14, 1);
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}
#text-animat1{
    position: absolute;
    left:20%;
    top:30%;
    font-size: clamp(2.5vw + .5rem , 1rem , 1.25rem);
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    text-transform: uppercase;
    font-family: sans-serif;
}
#text-animat2{
    position: absolute;
    left:20%;
    top:40%;
    font-size: clamp(2.5vw + .5rem , 1rem , 1.25rem);
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#text-animat3{
    position: absolute;
    left:20%;
    top:50%;
    font-size: clamp(2.5vw + .5rem , 1rem , 1.25rem);
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#text-animat4{
    position: absolute;
    left:35%;
    top:50%;
    font-size: clamp(2.5vw + .5rem , 1rem , 1.25rem);
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#container{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#fundal{
    background: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#logo{
    position: fixed;
    top: 5%;
    left: 5%;
    height: min(10vh , 20%);
    width: min(20vh , 20%);
}
#meniu1{
    list-style-type: none;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5%;
    top: 5%;
    left: 35%;
    height: 10%;
    width: 70%;
    font-size: clamp(1vw + .5rem , 0.7rem , 1rem);
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 3px 3px 8px rgba(255,255,255,1);
}
#element1{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
}
#element2{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
}
#element3{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
}
#element4{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
}
.link_formatat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 12vw;
    text-decoration: none;
    color: white;
}
.link_formatat:hover{
    background: rgba(0,0,50,0.6);
    transition: ease 0.5s;
    color: rgba(0, 150, 14, 1);
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
section h1{
    text-align: center;
    font-size: clamp(2vw + .5rem , 1.7rem , 2rem);
    color: lightyellow;
}
.container-carduri{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height :60%;
    width: 80%;
    top : 50%;
    left: 20%;
    column-gap: 5%;
}
.container-softskills{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 45%;
    top:10%;
    left:10%;
    background: linear-gradient(hsl(0 0% 0% / 0) , hsl(0 0% 0% /0.7));
    font-size: clamp(1vw + .5rem , 0.7rem , 1rem);
    color:lightskyblue;
}
.container-hardskills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 45%;
    top :10%;
    left: 50%;
    background: linear-gradient(hsl(0 0% 0% / 0) , hsl(0 0% 0% / 0.7));
    font-size: clamp(1vw + .5rem , 0.7rem , 1rem);
    color:lightgreen;
}
.titlu-softskill{
    border-bottom:4px solid lightskyblue;
    width: 50%;
    border-radius: 15px;
    font-size: 1vw;
}
.container-softskills:hover > .titlu-softskill{
    animation-name: animatie-softskills;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.titlu-hardskill{
    border-bottom:4px solid lightgreen;
    width: 50%;
    border-radius: 15px;
    font-size: 1vw;
}
.container-hardskills:hover > .titlu-hardskill{
    animation-name: animatie-hardskills;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes animatie-softskills{
    from {width:50%}
    to {width:90%}
}
@keyframes animatie-hardskills{
    from {width:50%}
    to {width:90%}
}

#general{
    background: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#proiecte{
    background: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#poze{
    background: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#contact{
    background: url(images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#formular{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 80%;
    background: rgba(255,255,255,0.3);
    border-radius: 5%;
}
#nume{
    float:left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:10%;
    left:30%;
    height: 10%;
    width: 40%;
    border:none;
}
#nume:hover{
    box-shadow: 5px 5px 10px 4px lightblue;
}
#comentariu{
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    height: 50%;
    width: 40%;
    resize: vertical;
    border:none;
}
#comentariu:hover{
    box-shadow: 5px 5px 10px 4px lightblue;
}
#butonTrimite{
    position:absolute;
    top:88%;
    left:35%;
    height: 10%;
    width:30%;
    background-color: lightblue;
    border-radius: 20px 20px;
}
#butonTrimite:hover{
    background-color:cornflowerblue;
}
.proiecte-lista{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0%;
    left: 0%;
    height: 60%;
    width: 80%;
}
img{
    max-height :40%;
    max-width : 40%;
}
.text-proiect1{
    font-size: larger;
    color:lightgreen;
}
