*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}
#text-animat1{
    position: absolute;
    left:20%;
    top:30%;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    text-transform: uppercase;
    font-family: sans-serif;
}
#text-animat2{
    position: absolute;
    left:20%;
    top:40%;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#text-animat3{
    position: absolute;
    left:20%;
    top:50%;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#text-animat4{
    position: absolute;
    left:35%;
    top:50%;
    font-size: 4vw;
    color: white;
    text-shadow: 3px 3px 8px rgb(73, 243, 5);
    font-family: sans-serif;
}
#container{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#fundal{
    background: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#logo{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 15vh;
    width: 15vw;
}
#meniu1{
    list-style-type: none;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 5%;
    left: 40%;
    height: 5%;
    width: 50%;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 3px 3px 8px rgba(255,255,255,1);
}
#element1{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element2{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element3{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element4{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
.link_formatat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 12vw;
    text-decoration: none;
    color: white;
}
.link_formatat:hover{
    background: rgba(0,0,50,0.6);
    transition: ease 0.5s;
    color: rgba(0, 150, 14, 1);
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
section h1{
    text-align: center;
    font-size: 3vw;
}
.container-carduri{
    display: flex;
    align-items: center;
    justify-content: center;
    height :50%;
    width: 80%;
    top : 50%;
    left: 20%;
    column-gap: 5%;
}
.container-softskills{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 45%;
    top:10%;
    left:10%;
    border: 1px dotted darkviolet;
    background-color: whitesmoke;
    font-size: 1vw;
}
.container-hardskills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80%;
    width: 45%;
    top :10%;
    left: 50%;
    border: 1px dotted darkred;
    background-color: whitesmoke;
    font-size: 1vw;
}
.titlu-softskill{
    border-bottom:4px solid lightskyblue;
    width: 50%;
    border-radius: 15px;
    font-size: 1vw;
}
.container-softskills:hover > .titlu-softskill{
    animation-name: animatie-softskills;
    animation-duration: 1.5s;
}
.titlu-hardskill{
    border-bottom:4px solid blue;
    width: 50%;
    border-radius: 15px;
    font-size: 1vw;
}
.container-hardskills:hover > .titlu-hardskill{
    animation-name: animatie-hardskills;
    animation-duration: 1s;
}

@keyframes animatie-softskills{
    from {width:50%}
    to {width:90%}
}
@keyframes animatie-hardskills{
    from {width:50%}
    to {width:90%}
}

#general{
    background: greenyellow;
}
#proiecte{
    background: rgb(50, 57, 125);
}
#poze{
    background: rgb(89, 116, 17);
}
#contact{
    background: url(images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#formular{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 80%;
    background: rgba(255,255,255,0.3);
    border-radius: 5%;
}
#nume{
    float:left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:10%;
    left:30%;
    height: 10%;
    width: 40%;
    border:none;
}
#nume:hover{
    box-shadow: 5px 5px 10px 4px lightblue;
}
#comentariu{
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    height: 50%;
    width: 40%;
    resize: vertical;
    border:none;
}
#comentariu:hover{
    box-shadow: 5px 5px 10px 4px lightblue;
}
#butonTrimite{
    position:absolute;
    top:88%;
    left:35%;
    height: 10%;
    width:30%;
    background-color: lightblue;
    border-radius: 20px 20px;
}
#butonTrimite:hover{
    background-color:cornflowerblue;
}
.proiecte-lista{
    border : 2px solid olive;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5%;
    top: 230%;
    left: 10%;
    height: 40%;
    width: 80%;
}
#proiect-1{
    flex: 1;
}
@keyframes efect{
    from{flex:1;}
    to{flex:2;}
}
#proiect-1:hover{
    animation: efect 2s;
    flex:2;
}
#proiect-2{
    flex: 1;
}
#proiect-3{
    flex: 1;
}
#proiect-4{
    flex: 1;
}
img {
    max-width: 100%;
    max-height: 100%;
}