*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
#container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#fundal{
    background: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
#logo{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 15vh;
    width: 15vw;
}
#meniu1{
    list-style-type: none;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 5%;
    left: 40%;
    height: 5%;
    width: 50%;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-family: sans-serif;
    text-shadow: 3px 3px 8px rgba(255,255,255,1);
}
#element1{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element2{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element3{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
#element4{
    display: flex;
    background: rgba(0,0,50,0.5);
    height: 10vh;
    align-items: center;
}
.link_formatat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 12vw;
    text-decoration: none;
    color: black;
}
.link_formatat:hover{
    background: rgba(0,0,50,0.6);
    transition: ease 0.5s;
    color: rgba(0, 150, 14, 1);
    text-shadow: 5px 5px 5px rgba(0,0,0,1);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
section h1{
    text-align: center;
}
section p{

}
#general{
    background: rgb(22, 99, 99);
}
#proiecte{
    background: rgb(50, 57, 125);
}
#poze{
    background: rgb(89, 116, 17);
}
#contact{
    background: url(images/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#formular{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 80%;
    background: rgba(255,255,255,0.3);
    border-radius: 5%;
}
#nume{
    float:left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top:10%;
    left:30%;
    height: 10%;
    width: 40%;
}
#comentariu{
    float: left;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    height: 50%;
    width: 40%;
    resize: vertical;
}